<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="balekouy.industries.punchwarrior">

		<application
				android:name=".di.UltraPunchWarriorApplication"
				android:allowBackup="true"
				android:icon="@mipmap/ic_launcher"
				android:isGame="true"
				android:label="@string/app_name"
				android:roundIcon="@mipmap/ic_launcher_round"
				android:supportsRtl="true"
            android:theme="@style/AppTheme.Game">
				<activity
						android:name=".presentation.home.HomeActivity"
						android:screenOrientation="userLandscape">
						<intent-filter>
								<action android:name="android.intent.action.MAIN" />

								<category android:name="android.intent.category.LAUNCHER" />
						</intent-filter>
				</activity>
				<activity
						android:name=".presentation.scores.ScoresActivity"
						android:screenOrientation="userLandscape" />
				<activity
						android:name=".presentation.levelselection.LevelSelectionActivity"
						android:screenOrientation="userLandscape" />
				<activity
						android:name=".presentation.historymode.HistoryModeActivity"
						android:screenOrientation="userLandscape" />
				<activity
						android:name=".presentation.fight.FightActivity"
						android:screenOrientation="userLandscape" />
		</application>

</manifest>